<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Evaluation System</title>
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>
	  <div class="container">
        <h1>Welcome to Employee Evaluation System</h1>
        <div class="button-container">
            <a href="/admin/login" class="button admin-btn">Admin</a>
            <a href="/employee/login" class="button employee-btn">Employee</a>
        </div>
    </div>
</body>
</html> 	 	